<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916345621017-q6d9grcfvsg42495jjn597r1qt542fu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916345621017-q6d9grcfvsg42495jjn597r1qt542fu1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916345621017-lr50n44194h7llgnc27tm5b8fpr8o8q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATKp4neqxssOhB135mqiPSolG5IGgAFd4</string>
	<key>GCM_SENDER_ID</key>
	<string>916345621017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nameum</string>
	<key>PROJECT_ID</key>
	<string>nameum</string>
	<key>STORAGE_BUCKET</key>
	<string>nameum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916345621017:ios:7f08704fb1f69ec6003888</string>
</dict>
</plist>